<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create info produits</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<div class="min-h-full">
    <div th:include="share/nav"></div>
    <div class="py-10">
        <main>
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <!-- Replace with your content -->
                <div class="mb-8">
                    <div th:if="${success}" class="bg-green-200 border-l-4 border-green-500 text-green-700 p-4" role="alert">
                        <p th:text="${success}"></p>
                    </div>
                </div>
                <div class="lg:grid lg:grid-cols-12 lg:gap-x-5">

                    <div class="space-y-6 sm:px-6 lg:px-0 lg:col-span-6">
                        <form th:action="@{/commandes/add_info_produit}" th:object="${commandeProduits}"  method="post">
                            <div class="shadow sm:rounded-md sm:overflow-hidden">
                                <div class="bg-white py-6 px-4 space-y-6 sm:p-6">
                                    <div>
                                        <h3 class="text-lg leading-6 font-medium text-gray-900">product Information</h3>
                                        <p class="mt-1 text-sm text-gray-500">Use a permanent quantite where you can get count of product wanted.</p>
                                    </div>
                                    <div class="grid grid-cols-6 gap-6">
                                        <div class="col-span-6 sm:col-span-3">
                                            <label for="id_commande" class="block text-sm font-medium text-gray-700">Commande id</label>
                                            <input type="number" th:value="${commande.id}" name="id_commande" readonly placeholder="Commande ID" id="id_commande" autocomplete="given-name" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                                        </div>
                                        <div class="col-span-6 sm:col-span-3">
                                            <label for="id_product" class="block text-sm font-medium text-gray-700">Product name</label>
                                            <div class="mt-1 sm:mt-0 sm:col-span-2">
                                                <select id="id_product" name="produit.id" autocomplete="id_product" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                                                    <option>-- Product name --</option>
                                                    <option th:each="produit : ${produits}" th:value="${produit.id}" th:text="${produit.name}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-span-6">
                                            <label for="quantite_commander" class="block text-sm font-medium text-gray-700">Quantity</label>
                                            <input type="number" th:field="*{quantite_commander}" th:value="*{quantite_commander}" name="quantite_commander" min="0" max="" id="quantite_commander" placeholder="quantite doit commandé" value="" autocomplete="street-address" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                                        </div>
                                    </div>
                                </div>
                                <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
                                    <button type="submit" class="bg-indigo-600 border border-transparent rounded-md shadow-sm py-2 px-4 inline-flex justify-center text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
</html>