<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Situation commandes</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<div class="min-h-full">

    <div th:include="share/nav"></div>

    <div class="py-10">
        <main>
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <!-- Replace with your content -->
                <!-- This example requires Tailwind CSS v2.0+ -->
                <div class="mb-8">
                    <div th:if="${success}" class="bg-green-200 border-l-4 border-green-500 text-green-700 p-4" role="alert">
                        <p th:text="${success}"></p>
                    </div>
                </div>
                <div class="px-4 sm:px-6 lg:px-8">
                    <div class="sm:flex sm:items-center">
                        <div class="sm:flex-auto">
                            <h1 class="text-xl font-semibold text-gray-900">Commandes</h1>
                            <p class="mt-2 text-sm text-gray-700">A list of all the commandes in your account including their information edit état with her situation.</p>
                        </div>
                    </div>
                    <div class="mt-8 flex flex-col">
                        <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
                            <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
                                <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
                                    <table class="min-w-full divide-y divide-gray-300">
                                        <thead class="bg-gray-50">
                                        <tr>
                                            <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Commande id</th>
                                            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Produit name</th>
                                            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Address livrison</th>
                                            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Quantity commander</th>
                                            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Produit prix</th>
                                            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Status</th>
                                            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Prix total</th>
                                            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Date création</th>
                                            <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6">
                                                <span class="sr-only">Edit</span>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody class="divide-y divide-gray-200 bg-white">
                                        <div th:each="commandeProduit:${commandeProduits}">
                                            <tr>
                                                <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm sm:pl-6">
                                                    <div class="flex items-center">
                                                        <div class="ml-4">
                                                            <div th:text="${commandeProduit.commande.id}" class="font-medium text-gray-900"></div>
                                                        </div>
                                                    </div>
                                                </td>

                                                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                                                    <div th:text="${commandeProduit.produit.name}" class="text-gray-900"></div>
                                                </td>

                                                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                                                    <div th:text="${commandeProduit.commande.address_livraison}" class="text-gray-900"></div>
                                                </td>

                                                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                                                    <div th:text="${commandeProduit.quantite_commander}" class="text-gray-900"></div>
                                                </td>

                                                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                                                    <div th:text="${commandeProduit.produit.prix_unitaire}" class="text-gray-900"></div>
                                                </td>
                                                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">

                                                    <div th:if='${commandeProduit.commande.etat_commande == etat[1]}'>
                                                        <span class="inline-flex rounded-full bg-green-100 px-2 text-xs font-semibold leading-5 text-green-800" th:text="${commandeProduit.commande.etat_commande}"></span>
                                                    </div>
                                                    <div th:if='${commandeProduit.commande.etat_commande == etat[2]}'>
                                                        <span class="inline-flex rounded-full bg-red-100 px-2 text-xs font-semibold leading-5 text-red-800" th:text="${commandeProduit.commande.etat_commande}"></span>
                                                    </div>
                                                    <div th:if='${commandeProduit.commande.etat_commande == etat[0]}'>
                                                        <span class="inline-flex rounded-full bg-yellow-100 px-2 text-xs font-semibold leading-5 text-yellow-800" th:text="${commandeProduit.commande.etat_commande}"></span>
                                                    </div>
                                                </td>
                                                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                                                    <div th:text="${commandeProduit.prix_total}" class="text-gray-900"></div>
                                                </td>

                                                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                                                    <div th:text="${commandeProduit.commande.date_creation}" class="text-gray-900"><%=commande.getDate()%></div>
                                                </td>

                                                <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
                                                    <a th:href="@{/situation_commandes/edit_status/{id}(id=${commandeProduit.commande.id})}" class="text-indigo-600 hover:text-indigo-900">Edit status<span class="sr-only">, Lindsay Walton</span></a>
                                                </td>
                                            </tr>
                                        </div>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /End replace -->
            </div>
        </main>
    </div>
</div>
</html>